nodered-flow.json
[
  {
    "id": "tab-ming-demo",
    "type": "tab",
    "label": "MING Demo — Sensor Simulado",
    "disabled": false
  },
  {
    "id": "inject-sensor",
    "type": "inject",
    "z": "tab-ming-demo",
    "name": "Simular sensor (cada 5s)",
    "props": [{"p": "payload"}],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 120,
    "wires": [["fn-generar-valor"]]
  },
  {
    "id": "fn-generar-valor",
    "type": "function",
    "z": "tab-ming-demo",
    "name": "Generar valor de gas aleatorio",
    "func": "// Simula un sensor MQ-135: valor entre 300 y 700\nvar base = 450;\nvar ruido = Math.floor(Math.random() * 400) - 200;\nmsg.payload = String(base + ruido);\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 120,
    "wires": [["mqtt-out-sensor", "debug-valor"]]
  },
  {
    "id": "mqtt-out-sensor",
    "type": "mqtt out",
    "z": "tab-ming-demo",
    "name": "Publicar → sensor/gas",
    "topic": "sensor/gas",
    "qos": "0",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "broker": "broker-local",
    "x": 680,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug-valor",
    "type": "debug",
    "z": "tab-ming-demo",
    "name": "Ver valor generado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 680,
    "y": 160,
    "wires": []
  },
  {
    "id": "mqtt-in-sensor",
    "type": "mqtt in",
    "z": "tab-ming-demo",
    "name": "Suscribir ← sensor/gas",
    "topic": "sensor/gas",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker-local",
    "x": 160,
    "y": 300,
    "wires": [["fn-preparar-influx"]]
  },
  {
    "id": "fn-preparar-influx",
    "type": "function",
    "z": "tab-ming-demo",
    "name": "Preparar para InfluxDB",
    "func": "var valor = parseFloat(msg.payload);\nif (isNaN(valor)) return null;\nmsg.payload = [{\n  measurement: \"gas_level\",\n  fields: { value: valor },\n  tags: { sensor: \"simulado\", device: \"nodered\" }\n}];\nreturn msg;",
    "outputs": 1,
    "x": 400,
    "y": 300,
    "wires": [["influx-out", "debug-influx"]]
  },
  {
    "id": "influx-out",
    "type": "influxdb out",
    "z": "tab-ming-demo",
    "influxdb": "influx-server",
    "name": "Escribir en InfluxDB",
    "measurement": "gas_level",
    "precision": "",
    "retentionPolicy": "",
    "org": "myorg",
    "bucket": "gas_data",
    "x": 660,
    "y": 260,
    "wires": []
  },
  {
    "id": "debug-influx",
    "type": "debug",
    "z": "tab-ming-demo",
    "name": "Ver dato enviado a InfluxDB",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 690,
    "y": 340,
    "wires": []
  },
  {
    "id": "broker-local",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "ming_mosquitto",
    "port": "1883",
    "clientid": "nodered-ming",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "influx-server",
    "type": "influxdb",
    "hostname": "ming_influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB Local",
    "usetls": false,
    "influxdbVersion": "2.0",
    "url": "http://ming_influxdb:8086",
    "rejectUnauthorized": false,
    "token": "ming-token"
  }
]
