nodered-flow.json
[
  {
    "id": "tab-ming-demo",
    "type": "tab",
    "label": "MING — Sensor Gas MQ-135",
    "disabled": false
  },

  {
    "id": "inject-sensor",
    "type": "inject",
    "z": "tab-ming-demo",
    "name": "Trigger cada 5s",
    "props": [{ "p": "payload" }],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 120,
    "wires": [["fn-generar-valor"]]
  },

  {
    "id": "fn-generar-valor",
    "type": "function",
    "z": "tab-ming-demo",
    "name": "Simular MQ-135",
    "func": "// Rango real ADC MQ-135: 0–1023\n// Zona normal de CO2/VOC en ambiente interior: 300–700\nvar base = 450;\nvar ruido = Math.floor(Math.random() * 400) - 200;\nvar valor = Math.max(0, Math.min(1023, base + ruido));\nmsg.payload = String(valor);\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 120,
    "wires": [["mqtt-out-sensor"]]
  },

  {
    "id": "mqtt-out-sensor",
    "type": "mqtt out",
    "z": "tab-ming-demo",
    "name": "Publicar → sensor/gas",
    "topic": "sensor/gas",
    "qos": "0",
    "retain": false,
    "broker": "broker-local",
    "x": 580,
    "y": 120,
    "wires": []
  },

  {
    "id": "mqtt-in-sensor",
    "type": "mqtt in",
    "z": "tab-ming-demo",
    "name": "Suscribir ← sensor/gas",
    "topic": "sensor/gas",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker-local",
    "x": 140,
    "y": 300,
    "wires": [["switch-validar"]]
  },

  {
    "id": "switch-validar",
    "type": "switch",
    "z": "tab-ming-demo",
    "name": "Validar rango 0–1023",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "gte", "v": "0",    "vt": "num" },
      { "t": "lte", "v": "1023", "vt": "num" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 360,
    "y": 300,
    "wires": [["fn-preparar-influx"]]
  },

  {
    "id": "fn-preparar-influx",
    "type": "function",
    "z": "tab-ming-demo",
    "name": "Preparar payload InfluxDB",
    "func": "var valor = parseFloat(msg.payload);\nif (isNaN(valor)) return null;\nmsg.payload = [{\n  measurement: \"gas_level\",\n  fields: { value: valor },\n  tags: { sensor: \"mq135\", device: \"simulador\" }\n}];\nreturn msg;",
    "outputs": 1,
    "x": 600,
    "y": 300,
    "wires": [["influx-out", "debug-pipeline"]]
  },

  {
    "id": "influx-out",
    "type": "influxdb out",
    "z": "tab-ming-demo",
    "influxdb": "influx-server",
    "name": "Escribir → gas_data",
    "measurement": "gas_level",
    "precision": "",
    "retentionPolicy": "",
    "org": "myorg",
    "bucket": "gas_data",
    "x": 840,
    "y": 260,
    "wires": []
  },

  {
    "id": "debug-pipeline",
    "type": "debug",
    "z": "tab-ming-demo",
    "name": "Debug escritura",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 840,
    "y": 340,
    "wires": []
  },

  {
    "id": "broker-local",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "ming_mosquitto",
    "port": "1883",
    "clientid": "nodered-ming",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },

  {
    "id": "influx-server",
    "type": "influxdb",
    "hostname": "ming_influxdb",
    "port": "8086",
    "protocol": "http",
    "name": "InfluxDB Local",
    "usetls": false,
    "influxdbVersion": "2.0",
    "url": "http://ming_influxdb:8086",
    "rejectUnauthorized": false,
    "token": "ming-token"
  }
]
